
<div class="parallax-container valign-wrapper">
    <div class="row center valign">
        <div class="section three">
            <div id="button">
                Scrape
                <div class="ring one"></div>
                <div class="ring two"></div>
                <div class="ring three"></div>
                <div class="ring four"></div>
            </div>

        </div>
    </div>
    <div class="parallax">
        <img src="https://images3.alphacoders.com/220/220047.jpg">
    </div>
</div>
<ul id="list-row" class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header center-align">ARTICLES<i class="material-icons right">swap_vert</i></div>
        <div class="collapsible-body">
            <ul id="article_list" class="collapsible popout" data-collapsible="accordion"></ul>
        </div>
    </li>
</ul>
<div class="parallax-container">
    <div class="parallax"><img src="https://images6.alphacoders.com/794/794239.jpg"></div>
</div>